
@{
    ViewBag.Title = "MyRequests";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

@using DepremsizHayat.DataAccess;
@model List<ANALYSE_REQUEST>
<div class="flex h-center">
    <div class="full-page flex h-center v-center">
        <div class="free-spinner"></div>
    </div>
    <div class="container">
        @*<div class="white-box">
                <div class="top-header p15">Taleplerim</div>
                <div class="p15">
                    <div class="table-scroll">
                        <table class="table one">
                            <tr>
                                <th>Ülke</th>
                                <th>Bölge</th>
                                <th>Adres</th>
                                <th>Yapım Yılı</th>
                                <th>Kat Sayısı</th>
                                <th>Telefon 1</th>
                                <th>Telefon 2</th>
                                <th>Açıklama</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Durum</th>
                            </tr>
                            @if (Model != null)
                            {
                                foreach (ANALYSE_REQUEST Analyse in Model)
                                {
                                    <tr>
                                        <td>@Analyse.COUNTRY</td>
                                        <td>@Analyse.DISTRICT</td>
                                        <td>@Analyse.ADDRESS</td>
                                        <td>@Analyse.YEAR_OF_CONSTRUCTION</td>
                                        <td>@Analyse.NUMBER_OF_FLOORS</td>
                                        <td>@Analyse.PHONE_NUMBER_1</td>
                                        <td>@Analyse.PHONE_NUMBER_2</td>
                                        <td>@Analyse.USER_NOTE</td>
                                        <td>@Analyse.CREATED_DATE</td>
                                        <td>@Analyse.STATUS.NAME</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>*@


    </div>
</div>



<style>
    .container {
        width: 100%;
        max-width: 500px;
    }

    .table {
    }

        .table.one {
            border-spacing: 0px;
        }

            .table.one tr:first-child td:first-child,
            .table.one tr:first-child th:first-child {
                border-top-left-radius: 5px;
            }

            .table.one tr:first-child td:last-child,
            .table.one tr:first-child th:last-child {
                border-top-right-radius: 5px;
            }

            .table.one tr:last-child td:first-child {
                border-bottom-left-radius: 5px;
            }

            .table.one tr:last-child td:last-child {
                border-bottom-right-radius: 5px;
            }

            .table.one td {
                border-left: 1px solid var(--color-placeholder-gray);
                border-top: 1px solid var(--color-placeholder-gray);
                height: 26px;
                line-height: 26px;
                padding: 5px;
                min-width: 100px;
                white-space:nowrap;
            }

            .table.one tr:nth-child(2n+1) {
                background-color: var(--color-border-gray);
            }

            .table.one tr:last-child td {
                border-bottom: 1px solid var(--color-placeholder-gray);
            }

            .table.one td:last-child {
                border-right: 1px solid var(--color-placeholder-gray);
            }

            .table.one th {
                padding: 5px;
                background-color: var(--color-placeholder-gray);
                color: white;
                height: 26px;
                line-height: 26px;
            }

                .table.one th:not(:first-child) {
                    border-left: 1px solid white;
                }

    .table-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .free-spinner {
        border-width: 3px;
        border-style: solid;
        border-color: var(--color-blue) var(--color-blue) var(--color-blue) transparent;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        -webkit-animation: spin .7s linear infinite;
        -moz-animation: spin .7s linear infinite;
        -ms-animation: spin .7s linear infinite;
        -o-animation: spin .7s linear infinite;
        animation: spin .7s linear infinite;
    }

</style>

