@using DepremsizHayat.DTO.Admin;
@model List<AnalyseRequest>
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Panel/Shared/Layout_.cshtml";
}
<br>
<br>
<script src="~/Content/js/CheckBox.js"></script>
<div class="card-body">
    @*<ro-checkbox group="request" toggle></ro-checkbox>Tümünü Seç
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Seç</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Ülke</th>
                <th>İl</th>
                <th>Talep Tarihi</th>
                <th>Adres</th>
                <th>Kat Sayısı</th>
                <th>Yapım Yılı</th>
                <th>Telefon No 1</th>
                <th>Telefon No 2</th>
                <th>Kullanıcı Notu</th>
                <th>Durum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AnalyseRequest request in Model)
            {
                <tr>
                    <td><ro-checkbox group="request" value="@request.ANALYSIS_REQUEST_ID" data-status="@request.STATUS_ID"></td>
                    <td>@request.FIRST_NAME</td>
                    <td>@request.LAST_NAME</td>
                    <td>@request.COUNTRY</td>
                    <td>@request.DISTRICT</td>
                    <td>@request.CREATED_DATE</td>
                    <td><form action="" method="post"><textarea name="address" disabled>@request.ADDRESS</textarea><button type="button" data-edit="0"><i class="fas fa-pen"></i></button></form></td>
                    <td>@request.NUMBER_OF_FLOORS</td>
                    <td>@request.YEAR_OF_CONSTRUCTION</td>
                    <td><input type="text" value="@request.PHONE_NUMBER_1" disabled /></td>
                    <td><input type="text" value="@request.PHONE_NUMBER_2" disabled></td>
                    <td><input type="text" value="@request.USER_NOTE" disabled></td>
                    <td>@request.STATUS_NAME</td>
                </tr>
            }
        </tbody>
    </table>*@
    <button type="button" id="allow">Onayla</button>
    <button type="button" id="deny">Reddet</button>
    <script>
        document.querySelector("#allow").addEventListener("click", function () { execute("AllowRequests") })
        document.querySelector("#deny").addEventListener("click", function () { execute("DenyRequests") })
        function execute(action) {
            var model = { idList: checkBoxProperties.getAllValue("request") }
            $.ajax({
                url: action,
                type: 'POST',
                data: model,
                dataType: 'json',
                success: function (data) {
                    location.reload()
                },
                error: function (error) {

                }
            })
        }
    </script>
    @Html.Partial("Shared/_StatusPartial")
</div>



<div style="width:auto; overflow-x:scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Seç</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Ülke</th>
                <th>İl</th>
                <th>Talep Tarihi</th>
                <th>Adres</th>
                <th>Kat Sayısı</th>
                <th>Yapım Yılı</th>
                <th>Telefon No 1</th>
                <th>Telefon No 2</th>
                <th>Kullanıcı Notu</th>
                <th>Durum</th>
            </tr>
        </thead>
        <tbody id="requestsTable">

        </tbody>
        </table>
</div>

<script src="~/Content/js/requestControl.js"></script>
